<div class="center">

    <form action="/" >
        <input type="search" name="formula" placeholder="Ente your request" value="{{formula}}">

        <button type="submit">Calulate!</button>
    
    </form>

    {% if ans %}
        The result is: 
        <h1>{{ans}}</h1>
    {% endif %}

    {% if trace %}
        <pre>{{ trace }}</pre>
    {% endif %}
    
    </div>
    <style>
      .center {
        margin: auto;
        width: 60%;
        border: 3px solid #a5addb;
        padding: 10px;
      }
    </style>
